* {
    margin: unset;
}
.content {
    background-color: transparent;
    line-height: 1.4;
    width: 100%;
    max-width: 375px;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
}
.spinner {
            width: 75px;
            height: 75px;
            border: 3px solid #f3f3f3;
            border-top: 4px solid hsl(206, 7%, 63%);
            border-radius: 50%;
            animation: spin 1s linear infinite;
            position: relative;
            
            
        }
        
@keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
