* {
    margin: unset;
}
.content {
    background-color: transparent;
    width: 100%;
    max-width: 375px;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.card {
    width: 100%;
    height: auto;
    line-height: 2;
    position: relative;
    background-color: transparent;
    border: 1px solid grey;
    box-shadow: 0px 0px 10px grey;
    border-radius: 6px;
    top: 35px;
    overflow: hidden;
}
.head-form {
    background-color: transparent;
    border: 0.5px solid grey;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 180px;
}
h5 {
    font-family: "Battambang", system-ui;
    font-size: 14px;
    font-weight: 600;
}
.button-close {
    font-size: 19px;
    font-weight: 800;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.form-group {
    font-size: 14px;
    font-weight: 400;
    font-family: "Battambang", system-ui;
    padding-left: 5px;
    padding-right: 5px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
}
sup {
    color: red;
    font-size: 12px;
    font-weight: 500;
}
input {
    width: 96%;
    height: auto;
    padding: 5px;
    font-size: 13px;
    font-family: "Battambang", system-ui;
}
.control-input-form {
    display: flex;
    flex-direction: row;
}
.form-group-add {
    background-color: gainsboro;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: none;
    text-align: center;
    color: #555;
    padding: 0px 5px;
}
.form-group-password {
    background-color: gainsboro;
    border: 1px solid gray;
    border-radius: 2px;
    border-right: none;
    color: hwb(204 27% 9%);
    text-align: center; 
    padding: 0px 5px;
}
.foot-form {
    background-color: transparent;
    border: 0.5px solid gray;
    border-radius: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    padding: 8px;
    margin-top: 15px;
}
.button-submitt {
    width: 70px;
    font-size: 14px;
    color: white;
    font-family: "Battambang", system-ui;
    background-color: #2a7af1bc;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px;
}
.button-back {
    width: 100px;
    font-size: 14px;
    color: white;
    font-family: "Battambang", system-ui;
    background-color: #2a7af1bc;
    border: 1px solid gray;
    border-radius: 3px;
    cursor: pointer;
    padding: 7px;
}
