* {
    margin: unset;
}
.content {
    background-color: transparent;
    width: 100%;
    max-width: 375px;
    height: 100vh;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.card {
    width: 100%;
    height: auto;
    line-height: 2;
    position: relative;
    background-color: transparent;
    border: 1px solid grey;
    box-shadow: 0px 0px 10px grey;
    border-radius: 6px;
    top: 30px;
}
.head-form {
    background-color: transparent;
    border: 0.5px solid grey;
    border-radius: 2px;
    position: relative;
    display: flex;
    align-items: center;
}
h5 {
    font-family: "Battambang", system-ui;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
}
.button-close {
    font-size: 19px;
    font-weight: 800;
    margin-left: 230px;
    cursor: pointer;
}
a {
    text-decoration: none;
}
.form-group {
    font-size: 14px;
    font-weight: 400;
    font-family: "Battambang", system-ui;
    padding: 8px 10px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
label {
    margin-right: 6px;
}
sup {
    color: red;
    font-size: 12px;
    font-weight: 500;
}
input {
    font-size: 13px;
    font-family: "Battambang", system-ui;
    padding: 3px 6px;
}
.form-group-add {
    background-color: gainsboro;
    border: 1px solid gray;
    margin-right: 0px;
    color: gray;
    padding: 2px 4px;
}
.form-group-password {
    background-color: gainsboro;
    border: 1px solid gray;
    padding: 2px 4px;
    margin-right: 0px;
    color: gray;
    
}
.foot-form {
    background-color: transparent;
    border: 0.5px solid gray;
    border-radius: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 10px;
}
.button-submitt {
    width: 70px;
    font-size: 14px;
    color: white;
    font-family: "Battambang", system-ui;
    background-color: #2a7af1bc;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
}
.button-back {
    width: 100px;
    font-size: 14px;
    color: white;
    font-family: "Battambang", system-ui;
    background-color: #2a7af1bc;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 1px;
    cursor: pointer;
}
